/dts-v1/;
/plugin/;

/ {
    compatible = "brcm,bcm2712";

	fragment@0 {
		target = <&i2s1>;
		__overlay__ {
			status = "okay";
			pinctrl-names = "default";
			pinctrl-0 = <&i2s1_pins>;
		};
	};

	fragment@1 {
		target = <&pinctrl>;
		__overlay__ {
			i2s1_pins: i2s1_pins {
				brcm,pins = <18 19 20 21 22 23 24 25 26 27>;
				brcm,function = <4>; // ALT4 = I2S1
			};
		};
	};

    fragment@2 {
        target-path = "/";
        __overlay__ {
            sound {
                compatible = "simple-audio-card";
                simple-audio-card,name = "DummyI2S1";
                simple-audio-card,format = "i2s";
                simple-audio-card,bitclock-master = <&dailink0>;
                simple-audio-card,frame-master = <&dailink0>;

                simple-audio-card,cpu {
                    sound-dai = <&i2s1>;
                };

                dailink0: simple-audio-card,codec {
                    sound-dai = <&dummy_codec>;
                };

                dummy_codec: dummy_codec {
                    compatible = "linux,snd-soc-dummy";
                    #sound-dai-cells = <0>;
                };
            };
        };
    };
};
